// Fontes
$fontePrincipal: Roboto, sans-serif;

// Paleta de Cores 
$corBackground: #f5f6fa;
$corPrincipal: #182C61;
$corSecundaria: #44bd32;
$corBranco: #fff;

// Breackpoints
$mobile: 767px;
$tablet: 1023px;